codecov
pytest>=3.6,<4
pytest-cov
pytest-tornado
pyflakes
notebook
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
