codecov
pytest>=3.6,<4
pytest-cov
pytest-tornado
pyflakes
notebook
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
